/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
 .sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.sr-only:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
}

/*Focus*/
/**:focus,*/
/*a:focus,*/
/*button:focus {*/
/*	outline-color: hsla(160, 44%, 76%, .9) !important;*/
/*}*/


/*!* Remove outline for non-keyboard :focus *!*/
/*a:focus:not(:focus-visible),*/
/*button:focus:not(:focus-visible) {*/
/*	outline: none;*/
/*}*/

/*!*Focus*!*/
/*a:focus-visible,*/
/*a:-moz-focusring,*/
/*button:focus-visible,*/
/*button:-moz-focusring {*/
/*	outline-offset: -2px;*/
/*	outline: 2px solid hsla(160, 44%, 76%, .9) !important;*/
/*}*/