/*@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');*/
:root {
  /* Fonts */
  --sans-serif: 'Raleway', Helvetica, Arial, sans-serif;
  --serif: 'Playfair Display', serif;
  --mono: 'Monoton', monospace;
  --primary-font: var(--sans-serif);
  --highlight-font: var(--mono);
  --body-font: var(--primary-font);
  --heading-font: var(--sans-serif);

  --font-light: 300;
  --font-normal: 400;
  --font-semibold: 500;
  --font-bold: 700;
  --font-black: 800;

  --base-font-size: 1rem;
  --small-font-size: .75rem;
  --base-line-height: 1.5;

  /* Colours */
  --cultured: hsl(0, 0%, 96%);
  --cultured-alpha: hsla(0, 0%, 96%, .95);
  --gainsboro: hsl(220, 14%, 96%);
  --brink-pink: hsl(356, 100%, 76%);
  --brink-pink-alpha: hsla(356, 100%, 76%, .8);
  --lavender: hsl(332, 22%, 38%);
  --cornsilk: hsl(60, 39%, 94%);
  --cornsilk-alpha: hsla(60, 39%, 94%, .5);
  --middle-blue-green: hsl(204, 24%, 52%);
  --middle-blue-green-alpha: hsla(204, 24%, 52%, .5);

  /* Grays */
  --white: 	hsl(0, 0%, 100%);
  --light-gray: var(--cultured);
  /*--mid-gray: 	hsl(0, 0%, 76%);*/
  /*--dark-gray: hsl(0, 0%, 52%);*/
  /*--darker-gray: hsl(0, 0%, 25%);*/
  --darkest-gray: hsl(220, 15%, 8%);
  --rich-black: var(--darkest-gray);
  --black: hsl(0, 0%, 0%);

  /* Theme */
  --primary: var(--brink-pink);
  --primary-alpha: var(--brink-pink-alpha);
  --secondary: var(--middle-blue-green);
  --quarternary: var(--cornsilk);
  --bg-primary: var(--darkest-gray);
  --bg-primary-alpha: hsla(220, 15%, 8%,.8);
  --bg-tertiary: var(--cornsilk);
  --text: var(--cornsilk);
  --text-alpha: var(--cornsilk-alpha);
  --focus-outline: var(--brink-pink);

  --mod-light: 96%;
  --mod-medium: 50%;
  --mod-dark: 20%;
  --main-bg-light: hsl(0, 0%, var(--mod-light));
  --main-bg-medium: hsl(0, 0%, var(--mod-medium));
  --main-bg-dark: hsl(0, 0%, var(--mod-dark));

  --boxShadow: 0px 1px 1px 0px rgba(0,0,0,0.03);
  --padding: 1rem;

  /* Sizes and widths */
  --content-w-xwide: 80rem;
  --content-w-wide: 70rem;
  --content-w-regular: 60rem;
  --content-w-narrow: 40rem;

}

@custom-media --viewport-narrow-max (max-width: 40rem);
@custom-media --viewport-narrow-min (min-width: 40rem);
@custom-media --viewport-wide (min-width: 60rem);
