:root {
  /* Fonts */
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  --font-size-small: 1.4rem; /* 14px */
  --font-size-default: 1.6rem; /* 16px */
  --font-size-large: 2.4rem; /* 24px */
  --base-line-height: 1.5;
  --sans-serif: 'Lato', Helvetica, Arial, sans-serif;
  --highlight-font: 'Montserrat', Helvetica, Arial, sans-serif;
  --primary-font: var(--sans-serif);
  --body-font: var(--primary-font);
  --heading-font: var(--highlight-font);

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 800;
  --font-x-black: 900;

  /* Colours */
  --cultured: hsl(0, 0%, 96%);
  --cultured-alpha: hsla(0, 0%, 96%, .95);
  --gainsboro: hsl(220, 14%, 96%);
  --brink-pink: hsl(356, 100%, 76%);
  --brink-pink-alpha: hsla(356, 100%, 76%, .8);
  --lavender: hsl(332, 22%, 38%);
  --lavender-alpha: hsla(332, 22%, 38%, .3);
  --cornsilk: hsl(60, 39%, 94%);
  --cornsilk-alpha: hsla(60, 39%, 94%, .5);
  --middle-blue-green: hsl(204, 24%, 52%);
  --middle-blue-green-alpha: hsla(204, 24%, 52%, .5);

  /* Grays */
  --white: 	hsl(0, 0%, 100%);
  --light-gray: var(--cultured);
  --darkest-gray: hsl(220, 15%, 8%);
  --rich-black: var(--darkest-gray);
  --black: hsl(0, 0%, 0%);

  /* Theme */
  --primary: var(--brink-pink);
  --primary-alpha: var(--brink-pink-alpha);
  --secondary: var(--middle-blue-green);
  --tertiary: var(--lavender);
  --tertiary-alpha: var(--lavender-alpha);
  --quarternary: var(--cornsilk);
  --bg-primary: var(--darkest-gray);
  --bg-primary-alpha: hsla(220, 15%, 8%,.8);
  --bg-secondary: var(--tertiary);
  --bg-secondary-alpha: var(--tertiary-alpha);
  --bg-tertiary: var(--cornsilk);
  --text: var(--cornsilk);
  --text-alpha: var(--cornsilk-alpha);
  --focus-outline: var(--brink-pink);

  /* Sizes and widths */
  --content-w-xwide: 1600px;
  --content-w-wide: 1200px;
  --content-w-regular: 1000px;
  --content-w-narrow: 720px;

}
@media screen and (--viewport-wide) {
  :root {
    --font-size-small: 1.6rem; /* 14px */
    --font-size-default: 1.8rem; /* 16px */
    --font-size-large: 2.6rem; /* 24px */
    --base-line-height: 1.6;
  }
}

@custom-media --viewport-narrow-max (max-width: 767rem);
@custom-media --viewport-narrow-min (min-width: 768px);
@custom-media --viewport-wide (min-width: 1024px);
