.banner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.content {
    padding: 2.5rem 0 0 0;
    text-align: left;
    grid-column: auto / span 2;
    align-self: center;
    z-index: 1;
}

.banner h2 {
    word-wrap: break-word;
    font-family: var(--highlight-font);
    color: var(--primary);
    font-size: 2rem;
    text-transform: lowercase;
    margin-right: 1.6rem;
}

.banner_image {
    grid-column: auto / span 1;
}

@media screen and (--viewport-narrow-min) {
    .banner {
        min-height: 30rem;
        align-items: center;
    }
    .content {
        padding: 0;
    }
    .banner h2 {
        font-size: 10rem;
    }
}
