.footer {
    position: relative;
    grid-area: footer;
    background: linear-gradient(180deg, rgba(17,19,23,0) 50%, rgba(17,19,23,.8) 100%);
    font-size: 100%;
    font-weight: 300;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 3rem;
}

.copy {
    font-size: 70%;
}

@media screen and (--viewport-narrow-min) {
    .footer {
        max-height: 5rem;
    }
}
