.footer_nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer_nav ul {
    margin: 0;
    text-decoration: none;
    display: block;
}
.footer_nav ul li {
    display: inline-block;
    padding: 0.5rem;
}
.footer_nav a {
    display: block;
    text-transform: lowercase;
    text-decoration: none;
    line-height: 1.7;
    color: inherit;
    font-size: var(--small-font-size);
    font-weight: 200;
    transition: all 300ms ease-in-out;
    padding: 0.225rem;
    margin: 0 .1rem;
}

.footer_nav a:hover,
.footer_nav a:focus {
    text-decoration: underline;
    color: var(--primary);
}