.footer {
    position: relative;
    grid-area: footer;
    font-size: 100%;
    font-weight: 300;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 3rem;
}

.copy {
    font-size: 70%;
    text-transform: uppercase;
    color: var(--text-alpha);
    font-weight: 800;
}

@media screen and (--viewport-narrow-min) {
    .footer {
        max-height: 5rem;
    }
}
