.home_banner {
    position: relative;
}
.content {
    padding: 10% 0;
    text-align: left;
}
.home_banner h1 {
    word-wrap: break-word;
    font-family: var(--highlight-font);
    text-transform: uppercase;
}
.home_banner h1 span {
    display: block;
    font-weight: normal;
}

.home_banner h1 span:first-child {
    font-size: 3.5rem;
}
.home_banner h1 span:nth-child(2) {
    font-size: 5rem;
}
.home_banner h1 span:nth-child(3) {
    font-size: 7.5rem;
}
