.home_banner {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}
.content {
    padding: 10% 0;
    text-align: left;
    grid-column: 1 / span 2;
    z-index: 1;
}
.home_banner h1 {
    word-wrap: break-word;
    font-family: var(--highlight-font);
    text-transform: uppercase;
}
.home_banner h1 span {
    display: block;
    font-weight: normal;
}

.home_banner h1 span:first-child {
    font-size: 3.5rem;
}
.home_banner h1 span:nth-child(2) {
    font-size: 4rem;
    color: var(--independence);
}
.home_banner h1 span:nth-child(3) {
    font-size: 7.5rem;
}

.banner_image {
    grid-column: 1;
    width: 100%;
}
