.home_banner {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}
.content {
    padding: 3rem 0 0 0;
    text-align: left;
    grid-column: 1 / span 2;
    align-self: center;
    z-index: 1;
}
.home_banner h2 {
    word-wrap: break-word;
    font-family: var(--highlight-font);
    text-transform: lowercase;
    margin-right: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}
.home_banner h2 span {
    display: block;
}

.home_banner h2 span:first-child {
    font-size: 2.4rem;
    color: var(--text);
    line-height: 1;
}

.home_banner h2 span:nth-child(2) {
    font-size: 4rem;
    max-width: 15rem;
    line-height: 1;
}

.home_banner p span {
    display: block;
    font-weight: 800;
    font-family: var(--highlight-font);
    color: var(--text);
    font-size: 4rem;
    text-transform: lowercase;
}
.home_banner p span:first-child {
    color: var(--text);
}
.home_banner p span:nth-child(2) {
    color: var(--primary);
}

.home_banner p {
    margin-bottom: 1.5rem;
    text-transform: lowercase;
    font-size: 1.6rem;
    font-weight: 800;
}

.banner_image {
    grid-column: 1;
    width: 100%;
}

@media screen and (--viewport-narrow-min) {
    .content {
        padding: 0;
        align-items: center;
    }
    .home_banner h2 {
        margin-left: 0;
        line-height: 1;
        margin-top: 5rem;
    }
    .home_banner h2 span:first-child {
        font-size: 10rem;
    }

    .home_banner h2 span:nth-child(2) {
        font-size: 14rem;
        max-width: unset;
    }

    .home_banner p span {
        font-size: 4rem;
        line-height: 1.7rem;
        display: inline-block;
    }
}
