.navigation {
    grid-area: nav;
    padding: 1rem 0;
}
.navigation ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 1rem 0 0;
}

.navigation li {
    margin: 0 0.225rem;
    list-style-type: none;
}

.navigation a {
    display: block;
    text-transform: uppercase;
    line-height: 1.7;
    font-size: 150%;
    font-weight: 800;
    font-family: var(--highlight-font);
    color: var(--primary-font);
    overflow: hidden;
    padding: 1rem 0.2rem;
    margin-left: .225rem;

}

.navigation a:hover {
    text-decoration: none;
}

@media screen and (--viewport-narrow-min) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 1rem;
    }

    .navigation ul {
        justify-content: flex-end;
        padding: .8rem 2rem;
    }

    .navigation li {
        margin-right: 0;
        margin-left: 2rem;
    }
    .navigation a {
        padding: 1.2rem .5rem .5rem .5rem;
        font-size: var(--font-size-small);
    }
}
