.navigation {
    grid-area: nav;
    padding: 0.5rem;
}
.navigation ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: .5rem 1rem;
    color: var(--primary-font);
    background-color: var(--bg-primary-alpha);
}

.navigation li {
    margin: 0 0.5rem;
    list-style-type: none;
}

.navigation a {
    display: block;
    text-transform: uppercase;
    line-height: 1.7;
    color: inherit;
    font-size: var(--small-font-size);
    font-weight: 400;
}

.navigation a:hover {
    text-decoration: none;
}

@media screen and (--viewport-narrow-min) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 0.5rem;
    }

    .navigation ul {
        justify-content: flex-end;
    }

    .navigation li {
        margin-right: 0;
        margin-left: 2rem;
    }
}
