.navigation {
    grid-area: nav;
    padding: 0.5rem 0;
}
.navigation ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    color: var(--primary-font);
}

.navigation li {
    margin: 0 0.125rem;
    list-style-type: none;
}

.navigation a {
    display: block;
    text-transform: uppercase;
    line-height: 1.7;
    color: inherit;
    font-size: 95%;
    font-weight: 400;
    overflow: hidden;
    padding: 0.5rem;
    margin-left: .225rem;

}

.navigation a:hover {
    text-decoration: none;
}

@media screen and (--viewport-narrow-min) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 0.5rem;
    }

    .navigation ul {
        justify-content: flex-end;
        padding: .5rem 1rem;
    }

    .navigation li {
        margin-right: 0;
        margin-left: 1rem;
    }
    .navigation a {
        padding: 0.225rem;
        font-size: var(--small-font-size);
    }
}
