.section {
    padding: 0;
    display: grid;
    overflow: hidden;
    position: relative;
}
.bg_primary {
    background-color: var(--bg-primary);
}
.bg_primary_alpha {
    background-color: var(--bg-primary);
}
.bg_secondary {
    background-color: var(--bg-secondary);
}
.bg_tertiary {
    background-color: var(--bg-tertiary);
}

.bg_image:before {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../content/images/susie.png);
    background-position-x: right;
    background-position-y: 5em;
    background-repeat: no-repeat;
    /*background-color: var(--middle-blue-green-alpha);*/
    background-size: 35%;
    opacity: .3;
    z-index: 0;
    -webkit-filter: saturate(2) hue-rotate(170deg) contrast(9);
    filter: saturate(2) hue-rotate(170deg) contrast(9);
}