.section {
    padding: 0;
    display: grid;
    overflow: hidden;
    position: relative;
}
.bg_primary {
    background-color: var(--bg-primary);
}
.bg_primary_alpha {
    background-color: var(--bg-primary);
}
.bg_secondary {
    background-color: var(--bg-secondary);
}
.bg_tertiary {
    background-color: var(--bg-tertiary);
}

.home_bg_image:before {
    content: "";
    position: absolute;
    right: -25%;
    height: 100%;
    width: 100%;
    background-image: url(../../content/images/susie.png);
    background-position-x: right;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 70%;
    opacity: .4;
    z-index: 0;
    -webkit-filter: saturate(.8) hue-rotate(170deg) contrast(2.8);
    filter: saturate(.8) hue-rotate(170deg) contrast(2.8);
}

@media screen and (--viewport-narrow-min) {
    .home_bg_image:before {
        right: 0;
        height: 100%;
        width: 100%;
        background-position-x: right;
        background-position-y: 5em;
        background-repeat: no-repeat;
        background-size: 35%;
        opacity: .4;
    }
}