/* Skip Navigation links */
.skip-links {
    float: left;
    margin: 0;
    padding: 0;
    clear: both;
    text-align: left;
}
.skip-links ul {
    list-style-type: none;
    margin: 0; padding: 0;
}
.skip-links li {
    float: left;
}
.skip-links a {
    float: left;
    display: block;
    color: var(--bg-primary);
    background-color: var(--primary);
    box-shadow: inset 2px 2px 0 2px var(--bg-primary);
    font-weight: 600;
    font-size: .8rem;
    text-decoration: none;
    padding: .5rem 1rem;
    margin: .25rem;
    /* Hidden offscreen till focused */
    position: absolute;
    left: -9999px;
}

.skip-links a:focus,
.skip-links.visible a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}